.medium-2wqF9d
{ display: none !important; mask: none !important; }

.regionSelectFlag-3uwFtG
{ background-color: unset !important; }

*,
body,
.valueChecked-m-4IJZ.sizeDefault-2YlOZr:after,
.value-2hFrkk:after,
.card-FDVird:before,
.guild.unread:before,
.guild.selected:before,
.scroller-wrap,
.search-bar.search-bar-light .search-bar-inner,

/* Scrollbars*/
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,

/* Toggle buttons */
.themeDefault-24hCdX.sizeDefault-2YlOZr:after
{ border-radius: unset !important; }

.guild.selected:before
{ height: 50px !important; margin-top: -25px !important; }

/* User icons */
div[class*="mask-"],
div[class*="assetsLargeMaskProfile-"]
{ -webkit-mask: unset !important; }

/* Codeblock font */
code[class*="scrollbarGhost-"],
code[class*="scrollbar-"]
{ font-family: "Roboto Mono", monospace !important; }

/* Global fonts */
textarea[class*="textArea-"],
div[class*="roleName-"],
div[class*="appMount-"],
div[class*="connectedAccountName-"],
div[class*="listName-"],
div[class*="headerName-"],
div[class*="headerTag-"],
div[class*="public-DraftStyleDefault-block"],
div[class*="headerTabBarWrapper-"],
div[class*="title-"],
div[class*="textRow-"]
{ font-family: "Roboto", sans-serif !important; }

/* Divs */
.private-channels header,
div[class*="total-results"],
div[class*="membersGroup-"],
div[class*="header-2N-"],
div[class*="friends-online"]
{ font-family: "Roboto Condensed", bold !important; font-weight: bold !important; letter-spacing: 0px !important; cursor: default !important; }

div[class*="typing-"],
div[class*="friends-table-header"],
div[class*="headerText-"],
div[class*="activityText-"],
div[class*="body-"],
div[class*="channelSeparator-"],
div[class*="nameDefault-"],
div[class*="nameHovered-"],
div[class*="nameCollapsed-"],
div[class*="nameHoveredCollapsed-"],
div[class*="header-"],
div[class*="title-3pkaKd title-23FrqZ"],

/* Other */
h1[class*="title-"],
h1[class*="old-h1"],
h2[class*="title-"],
h5[class*="title-"],
span[class*="timestamp"]
{ font-family: "Roboto Condensed", sans-serif !important; }
